<center>
<div>
<h2>Thanks for your interest! Please choose the type of animal you are interested in:</h2>


<%= button_to "Adopt A Cat", adopt_cat_path(), class:"button", method: :get %>
<br><br>
<%= button_to "Adopt A Dog", adopt_dog_path(), class:"button", method: :get %>
</div>

</center>