<div class="pages_div">
  <body class="homepage">
  <center>
    <h1>Welcome To Furry Friends Adoption Agency</h1>

    <p><%= button_to 'Login', login_path, class:"button", method: :get %></p>
    <p><%= button_to 'Create a new user',new_owner_path, class:"button", method: :get %></p>

  
  </center>
  </body>
</div>



