// Place all the styles related to the Adoptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  body.adopt_cat{
  background-image: url("cat_two.jpg");
  background-size: 1400px;
    width: 800px;
    height: 600px;
  }

  body.adopt_dog{
  background-image: url("dog_two.jpg");
  background-size: 1400px;
    width: 800px;
    height: 600px;
  }