/* This is a manifest file that'll be compiled into application.css, which will *include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
files in this directory. Styles in this file should be added after the last require_ statement.
* It is generally better to create a new file per style scope.
*= require_self
*= require_tree 

*/

/* <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script> */

@import "semantic-ui";

body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: small;
   font-color: #fff; /*original color 66FCF1*/
   background-color: #0B0C10
}

a:link, a:active, a:visited {
   color: #fff;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
}

h3 {
  color: #fff;
}

h4 {
  color: #fff;
}


p { 
   line-height: 150%;
   color: #C5C6C7;
}

.button {
  background-color: #11519b; 
  border: solid 1px transparent;
  border-radius: 4px;
  color: white;
  padding: 10px 22px;  /*original: 15px 32px*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button_two {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  color: #fff;
  background-color: rgb(55, 70, 92);
  font-size: 12px;
}

.button_two:hover {
  color: #fff;
  border-color: currentColor;
  background-color: transparent;
}

.button:hover {
  color: #fff;
  border-color: currentColor;
  background-color: transparent;
}




