// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  body.catpage {
  background-image: url("cat.jpg");
  background-size: 1200px;
    width: 800px;
    height: 600px;
  }
