// Place all the styles related to the Dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  body.dogpage {
  background-image: url("dog.jpg");
  background-size: 1400px;
    width: 1000px;
    height: 1000px;
  }


