// Place all the styles related to the Owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




  .ownerpage {
  background-image: url("paw.jpg") !important;
  background-size: 2100px;
    width: 1000px;
    height: 800px;
  }


