// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pages_div {
    height: 400px;
    width: 400px;
    overflow: visible;
  

    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}


  body.homepage {
  background-image: url("home.jpg");
  background-size: 1370px;
    width: 1000px;
    height: 1000px;
  background-attachment: fixed;
  }

  body.loginpage {
  background-image: url("wood.jpg") !important;
  background-size: 2300px;
    width: 1500px;
    height: 1000px;

  }

