// Place all the styles related to the Pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.petsindex {
  background-image: url("puppy_tongue.jpg");
  background-size: 1500px;
    width: 1000px;
    height: 1000px;
  background-attachment: fixed;
}
